<div id = "toolbar_div">
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_GroupShapes">Group</button>
        <button class = "toolbar_button" id = "TB_UngroupShapes">Ungroup</button>
        <button class = "toolbar_button" id = "TB_BringToFront">Bring to Front</button>
        <button class = "toolbar_button" id = "TB_SendToBack">Send to Back</button>
        <button class = "toolbar_button" id = "TB_BringForward">Bring Forward</button>
        <button class = "toolbar_button" id = "TB_SendBackward">Send Backward</button>
    </div>
    <div class = "toolbar_button_group">
        <select name="selectmenu_zoom" id="zoom_option" width = "100">
            <option>10%</option>
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option selected="selected">100%</option>
            <option>200%</option>
            <option>400%</option>
            <option>800%</option>
            <option>Fit to Screen</option>
        </select>
        <button class = "toolbar_button" id = "TB_ZoomIn">Zoom In</button>
        <button class = "toolbar_button" id = "TB_ZoomOut">Zoom Out</button>
    </div>
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_Undo">Undo</button>
        <button class = "toolbar_button" id = "TB_Redo">Redo</button>
        <button class = "toolbar_button" id = "TB_Cut">Cut</button>
        <button class = "toolbar_button" id = "TB_Copy">Copy</button>
        <button class = "toolbar_button" id = "TB_Paste">Paste</button>
    </div>
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_Pointer">Pointer</button>
        <button class = "toolbar_button" id = "TB_HandTool">Hand Tool</button>
    </div>
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_LineTool">Line Tool</button>
        <button class = "toolbar_button" id = "TB_StrokeColor">Stroke Color</button>
        <button class = "toolbar_button" id = "TB_StrokeWidth">Stroke Width</button>
        <button class = "toolbar_button" id = "TB_StrokeStyle">Stroke Style</button>
    </div>
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_TextColor">Text Color</button>
        <button class = "toolbar_button" id = "TB_FillColor">Fill Color</button>
    </div>
    <div class = "toolbar_button_group">
        <button class = "toolbar_button" id = "TB_Share">Share</button>
        <button class = "toolbar_button" id = "TB_Inspector">Inspector</button>
    </div>
</div>
