
.toolbar_section_div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toolbar_button_highlighted {
    border: solid 2px gray;
}

.toolbar_button_group {
    float: left;
    height: 100%;
    border-right : solid 2px darkGray;
    padding-left : 10px;
    padding-right : 10px;
}

