<div id = "sidebar_panel_div">
    <button title = "Layout Properties" class="sidebar_button ui-button ui-widget ui-corner-all" id = "SB_LayoutProperties">
        <%- include("layoutproperties") %>
    </button>
    <button title = "Fill Properties" class="sidebar_button ui-button ui-widget ui-corner-all" id = "SB_FillProperties">
        <%- include("fillproperties") %>
    </button>
    <button title = "Stroke Properties" class="sidebar_button ui-button ui-widget ui-corner-all" id = "SB_StrokeProperties">
        <%- include("strokeproperties") %>
    </button>
    <button title = "Text Properties" class="sidebar_button ui-button ui-widget ui-corner-all" id = "SB_TextProperties">
        <%- include("textproperties") %>
    </button>
</div>
