
:root {
    --header-height: 70px;
    --toolbar-button-height: 30px;
    --sidebar-panel-width: 50px;
    --toolpanel-width: 320px;
    --footer-height: 0px;
    --split-bar-width: 10px;
    --shape-icon-size: 50px;
}

#header_div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);
    border: solid 0px green;
}

#menubar_div {
    position: absolute;
    vertical-align: middle;
    float: left;
    height: var(--toolbar-button-height);
    right: 0px;
    left: 0px;
    top: 0px;
}

#toolbar_div {
    position: absolute;
    border-top: solid 2px darkGray;
    padding-top: 5px;
    padding-bottom: 5px;
    height: var(--toolbar-button-height);
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.toolbar_button_group {
    float: left;
    height: 100%;
    border-right : solid 2px darkGray;
    padding-left : 10px;
    padding-right : 10px;
}

.toolbar_button {
    float: left;
    outline-width: 0px !important;
    padding: 0px;
    height: var(--toolbar-button-height);
    width: var(--toolbar-button-height);
}

#footer_div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: var(--footer-height);
    border: solid 0px blue;
}

#center_div {
    position: absolute;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: 0px;
    right: 0px;
    border: solid 0px green;
}

#splitbar {
    position: absolute;
    cursor: ew-resize;
    top: 0px;
    bottom: 0px;
    left: var(--toolpanel-width);
    width: var(--split-bar-width);
    background-color: gray;
}

#toolpanel_div {
    position: absolute;
    border: solid 1px black;
    left: 0px;
    width: var(--toolpanel-width);
    top: 0;
    bottom: 0;
    overflow: scroll;
}

#toolbar_accordian {
    position: absolute;
    border: solid 0px brown;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#stage_div {
    position: absolute;
    border: solid 1px black;
    right: var(--sidebar-panel-width);
    top: 0;
    bottom: 0;
}

.shape_icon {
    float: left;
    margin: 5px;
    width: var(--shape-icon-size);
    height: var(--shape-icon-size);
    border: solid 0px blue;
}

.shape_icon_canvas {
    width: var(--shape-icon-size);
    height: var(--shape-icon-size);
    padding: 2px;
    margin: 2px;
    border: solid 0px red;
}

.ui-accordion .ui-accordion-content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

