
.ui-tabs .ui-tabs-nav li a {font-size:10pt !important;}

#sidebar_panel_div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--sidebar-panel-width);
}

.sidebar_button  {
    width: var(--sidebar-panel-width);
    height: var(--sidebar-panel-width);
    padding: 0px;
}

.sidebar_content_panel {
    z-index: 10000;
    overflow: scroll;
    position: absolute;
    border: solix 1px red;
    background: #f0f0f0;
    width: 200px;
}

.sidebar_content_element {
    overflow: scroll;
    position: absolute;
}

.sidebutton_image {
    width: var(--sidebar-panel-width);
    height: var(--sidebar-panel-width);
    padding: 0px;
}

.sidebar_content_panel h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar_content_section {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 50px
}

.sidebar_content_section h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
