<div class = "sidebar_content_panel" id="SBPanel_StrokeProperties">
    <h2><center>Stroke Properties</center></h2>
    <div>
        <%- include("paintstyle") %>
    </div>
    <div id = "width_div" class = "sidebar_content_section">
        <h3>Line Width:</h3>
        <div id = "lineWidthSlider" > </div>
    </div>
    <div id = "line_cap_style_div" class = "sidebar_content_section">
        <h3>Line Cap:</h3>
        <div>
            <center>
            <form>
                <label for="lineCapButt">Butt
                <input value = "butt" type="radio" name="lineCapType" id="lineCapButt" checked  /></label>
                <label for="lineCapRound">Round
                <input value = "round" type="radio" name="lineCapType" id="lineCapRound" /></label>
                <label for="lineCapSquare">Square
                <input value = "square" type="radio" name="lineCapType" id="lineCapSquare" /></label>
            </form>
            </center>
        </div>
    </div>
    <div id = "line_join_style_div" class = "sidebar_content_section">
        <h3>Line Join:</h3>
        <div>
            <center>
            <form>
                <label for="lineJoinBevel">Bevel
                <input value = "bevel" type="radio" name="lineJoinType" id="lineJoinBevel" /></label>
                <label for="lineJoinRound">Round
                <input value = "round" type="radio" name="lineJoinType" id="lineJoinRound" /></label>
                <label for="lineJoinMiter">Miter
                <input value = "miter" type="radio" name="lineJoinType" id="lineJoinMiter" checked  /></label>
            </form>
            </center>
        </div>
        <h4>Miter limit:</h4>
        <div id = "miterLimitSlider" > </div>
    </div>
    <div id = "line_dash_div" class = "sidebar_content_section">
        <h3>Dash Pattern:</h3>
        <h4>Builtin:</h4>
        <select id = "builtinDashPattern" style = "width: 100%%; padding-left: 10px; padding-right: 10px">
        </select>
        <h4>Custom Pattern:</h4>
        <input type = text id = "customDashPattern" style="width: 100%; padding-left: 10px; padding-right: 10px"/>
        <h4>Offset:</h4>
        <div id = "dashOffsetSlider" style="solid 1px red"> </div>
    </div>
</div>
