<div class = "sidebar_content_panel" id="SBPanel_FillProperties">
    <h2><center>Fill Properties</center></h2>
    <div>
        <% include ./paintstyle.hbs %>
    </div>
    <!--
    <div id = "opacity_div" style="margin-left: 10px; margin-right: 50px">
        <h3>Opacity:</h3>
        <div id = "opacity_slider">
            <div id="custom-handle" class="ui-slider-handle"
                 style = "width: 3em; height: 1.6em; top: 50%; margin-top: -.8em; text-align: center; line-height: 1.6em;"></div>
        </div>
    </div>
    -->
</div>
