<div class = "sidebar_content_panel" id="SBPanel_LayoutProperties">
    <h2><center>Layout Properties</center></h2>
    <div>
        <strong>Bounds:</strong>
        <div>
            <center><table>
                <tr>
                    <td>X</td><td><input type = number id = "boundsX" class = "bounds_input" value = "0" /> </td>
                    <td>Y</td><td><input type = number id = "boundsY" class = "bounds_input" value = "1" /> </td>
                </tr>
                <tr>
                    <td>W</td><td><input type = number id = "boundsW" class = "bounds_input" value = "0" /> </td>
                    <td>H</td><td><input type = number id = "boundsH" class = "bounds_input" value = "1" /> </td>
                </tr>
            </table></center>
        </div>
        <strong>Transforms:</strong>
        <div>
            <center><table>
                <tr>
                    <td>Angle</td><td><input type = number id = "shapeAngle" class = "bounds_input" value = "0" /> </td>
                    <td></td> <td></td>
                </tr>
            </table></center>
        </div>
    </div>
</div>
