<div class = "sidebar_content_panel" id="SBPanel_LayoutProperties">
    <h2><center>Layout Properties</center></h2>
    <div>
        <strong>Bounds:</strong>
        <div>
            <center><table>
                <tr>
                    <td>X</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td><input type = number id = "boundsX" class = "bounds_input" value = "0" /> </td>
                    <td><input type = number id = "boundsY" class = "bounds_input" value = "0" /> </td>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>Height</td>
                </tr>
                <tr>
                    <td><input type = number id = "boundsW" class = "bounds_input" value = "1" /> </td>
                    <td><input type = number id = "boundsH" class = "bounds_input" value = "1" /> </td>
                </tr>
            </table></center>
        </div>
        <strong>Transforms:</strong>
        <div>
            <center><table>
                <tr>
                    <td>Angle</td>
                    <td><input type = number id = "transformAngle" class = "bounds_input" value = "0" /> </td>
                </tr>
                <tr>
                    <td>Shear X</td>
                    <td><input type = number id = "transformShearX" class = "bounds_input" value = "0" /> </td>
                </tr>
                <tr>
                    <td>Shear Y</td>
                    <td><input type = number id = "transformShearY" class = "bounds_input" value = "0" /> </td>
                </tr>
            </table></center>
        </div>
    </div>
</div>
