<div id="shapespanel_div">
    <div id = "shapespanel_accordian">
        <h3>Basic Shapes</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_Triangle">Triangle</button>
            <button class = "shape_button" id = "SB_Rectangle">Rectangle</button>
            <button class = "shape_button" id = "SB_Square">Square</button>
            <button class = "shape_button" id = "SB_Polygon">Polygon</button>
            <button class = "shape_button" id = "SB_Star">Star</button>
            <button class = "shape_button" id = "SB_Cog">Cog</button>
            <button class = "shape_button" id = "SB_RoundedRectangle">Rounded Rectangle</button>
            <button class = "shape_button" id = "SB_Plus">Plus</button>
            <button class = "shape_button" id = "SB_Circle">Circle</button>
            <button class = "shape_button" id = "SB_Ellipse">Ellipse</button>
            <button class = "shape_button" id = "SB_Cylinder">Cylinder</button>
        </div>
        <h3>Arrows</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_LeftArrow">Left Arrow</button>
            <button class = "shape_button" id = "SB_RightArrow">Right Arrow</button>
            <button class = "shape_button" id = "SB_DoubleArrow">Double Arrow</button>

            <button class = "shape_button" id = "SB_LeftBlockArrow">Left Block Arrow</button>
            <button class = "shape_button" id = "SB_RightBlockArrow">Right Block Arrow</button>

            <button class = "shape_button" id = "SB_LeftChevron">Left Chevron</button>
            <button class = "shape_button" id = "SB_RightChevron">Right Chevron</button>
        </div>
        <h3>Paths</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_Line">Line</button>
            <button class = "shape_button" id = "SB_Polyline">Polyline</button>
            <button class = "shape_button" id = "SB_Arc">Arc</button>
            <button class = "shape_button" id = "SB_QuadCurve">Quadratic Curve</button>
            <button class = "shape_button" id = "SB_CubicCurve">Cubic Curve</button>
            <button class = "shape_button" id = "SB_Path">Free Path</button>
        </div>
        <h3>Connectors</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_StraightConnector">Straight Connector</button>
            <button class = "shape_button" id = "SB_ElbowConnector">Elbow Connector</button>
            <button class = "shape_button" id = "SB_CurvedConnector">Curved Connector</button>
        </div>
        <h3>Devices</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_InMemCache">InMem Cache</button>
            <button class = "shape_button" id = "SB_DistributedCache">Dist Cache</button>
            <button class = "shape_button" id = "SB_LoadBalancer">Load Balancer</button>
            <button class = "shape_button" id = "SB_WebServer">Web Server</button>
            <button class = "shape_button" id = "SB_Database">Database</button>
            <button class = "shape_button" id = "SB_BTreeIndex">BTree Index</button>
            <button class = "shape_button" id = "SB_HashIndex">Hash Index</button>
            <button class = "shape_button" id = "SB_KafkaQueue">Kafka Queue</button>
        </div>
        <h3>Links</h3>
        <div class = "toolbar_section_div">
            <button class = "shape_button" id = "SB_NetworkLink">Network Link</button>
        </div>
    </div>
</div>
