<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>
</head>
<body>
    <div id="header_div"> <h1> <center> SVG Comparison </center> </h1> </div>
    <div id="svg_samples_options">
        <div style="float: left">
        <label>DataSet: <select id = "svg_samples_dataset">
            <option value = "default">Default</option>
            <option value = "svg1.1">SVG 1.1</option>
        </select>
        </div>
        <div style="float: right">
        <label>Search:<input type="search" id = "svg_filter"></label>
        </div>
    </div>
    <div id = "svg_samples_div"> 
        <table id="svg_samples_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody> </tbody>
        </table>
    </div>
    <div id="center_div">
        <div id = "stage_div"> </div>
        <div id="splitbar" class = "draggable ui-widget-content"></div>
        <div id = "svg_area_div">
        </div>
    </div>
    <div id="footer_div"> <span> Custom URL: </span> <input id = "svg_url" style = "position: absolute; top: 0px; bottom: 0px; left: 100px; right: 0px" /> </div>
</body>
<script>
    $(document).ready(function() {
        initialize();
    });
</script>
</html>
