$header_height: 60px;
$svg_samples_div_width: 400px;
$footer_height: 30px;
$split_bar_width: 10px;

#header_div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $header_height;
    border: solid 0px green;
}

#footer_div {
    position: absolute;
    bottom: 0px;
    left: $svg_samples_div_width;
    right: 0px;
    height: $footer_height;
    border: solid 0px blue;
}

#svg_samples_options {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: $footer_height;
    width: $svg_samples_div_width;
    border: solid 0px green;
    overflow: scroll;
}

#svg_samples_div {
    position: absolute;
    top: $header_height;
    bottom: $footer_height;
    left: 0px;
    width: $svg_samples_div_width;
    border: solid 0px green;
    overflow: scroll;
}

#center_div {
    position: absolute;
    top: $header_height;
    bottom: $footer_height;
    left: $svg_samples_div_width;
    right: 0px;
    border: solid 0px green;
}

#splitbar {
    position: absolute;
    cursor: ew-resize;
    top: 0px;
    bottom: 0px;
    left: 50%;
    width: $split_bar_width;
    background-color: gray;
}

#stage_div {
    position: absolute;
    border: solid 0px black;
    left: 0px;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

#svg_area_div {
    position: absolute;
    border: solid 0px black;
    right: 0;
    top: 0;
    bottom: 0;
}

