<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header_div">
        <%- include("templates/toolbar") %>
        <%- include("templates/menubar") %>
    </div>
    <div id="center_div">
        <%- include("templates/shapespanel") %>
        <div id="splitbar" class = "draggable ui-widget-content"></div>
        <div id = "stage_div"></div>
        <%- include("templates/sidebarpanel") %>
    </div>
    <div id="footer_div"></div>
</body>
<script>
    $(document).ready(function() {
        theApp = new App();
        addSampleShapes();
        connectEventHandlers();
    });
</script>
</html>
